

.message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center; /* Center align the text */
    
}

.message input { 
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 5px;

}
.message p{
    margin-bottom: 15px; /* Add margin to the bottom of the paragraph */
    font-size: 16px; /* Adjust the font size */
    color: #333  ; 
}
.message button {
    margin-right: 10px; /* Add margin between buttons */
    padding: 10px 20px; /* Add padding to the buttons */
    border-radius: 5px; /* Add border radius */
    cursor: pointer; /* Change cursor on hover */
    margin-top: 30px;

}
.message .btns-container{
    display: flex;
    flex-direction: row-reverse;
}
.message button.submit {
    background-color: #4CAF50; /* Green */
    color: white; /* White text */
    border: none; /* No border */
    width: 40%;
}

.message button.cancel {
    background-color: #f44336; /* Red */
    color: white; /* White text */
    border: none; /* No border */
    
}


.none { 
    display: none;
}

.up{
    z-index: 4;
}

p.error { 
    color: red;
    position: absolute;
    left: 20px ;
    padding: 5px;
    font-size: 14px;
}
