/* product.css */

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: calc(25% - 16px);
    min-width: 200px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .product-image {
    width: 100%;
    height: auto;
  }
  
  .product-info {
    padding: 16px;
    text-align: center;
    
  }
  
  .product-name {
    font-size: 1.2rem;
    margin: 0;
  }
  
  .product-points {
    font-size: 1rem;    
    color: #666;
    padding: 5px;
  }
  
  .add-to-cart-button {
    width: 140px;
    height: 40px;
    border-radius: 12px;
    border: none;
    background-color: #5db692;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: 10px 0;
  }
  
  .add-to-cart-button:hover {
    background-color: #3c9674;
  }
  
  .add-to-cart-button:active {
    transform: scale(0.95);
  }
  